In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize']=(20,10)

ModuleNotFoundError: No module named 'sklearn.linear_model.base'

In [ ]:
df1=pd.read_csv('bengaluru_house_price.csv')
df1.head()

In [ ]:
df1

In [ ]:
df1.groupby('area_type')['area_type'].agg('count')

Now first task is to calculate the price...for that i dont need 'area_type','location','balcony','availability'columns.....for overall project i need that column but not for this calculation.....And this project is based on "Supervised Learning"

In [ ]:
df2=df1.drop(['area_type','location','balcony','availability'],axis='columns')
df2.head()

In [ ]:
df2.isnull().sum()
# now using this we can get number of "NaN" values in all the columns

In [ ]:
df3=df2.dropna()
df3.isnull().sum()

In [ ]:
df3

In [ ]:
df3['size'].unique()

In [ ]:
df3['BHK']=df3['size'].apply(lambda x: int(x.split(' ')[0]))
df3

In [ ]:
df3['BHK'].unique()

In [ ]:
df3['total_sqft'].unique()

In [ ]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [ ]:
df3[~df3['total_sqft'].apply(is_float)].head(10)
# so like this we can get all the inputs which are in "range".

In [ ]:
def convert_sqft_to_num(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))//2
    try:
        return float(x)
    except:
        return None

In [ ]:
convert_sqft_to_num('1195 - 1440')

In [ ]:
df4=df3.copy()
df4['total_sqft']=df4['total_sqft'].apply(convert_sqft_to_num)
df4.head()

Upto here we have performed data cleaning.........
Now from here we will do feature engineering......

In [ ]:
df5=df4.copy()
df5.drop(['society'],axis='columns',inplace=True)
df5.head()

In [ ]:
df5['location']=df1.location.copy()
df5.head()
# len(df5)

In [ ]:
len(df5.location.unique())
df5['location']
df5.head()

In [ ]:
len(df5.location.unique())

In [ ]:
df5['price_per_sqft']=df5['price']*100000/df5['total_sqft']

df5.head()
df5.location.head()

In [ ]:
location_stats=df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats

In [ ]:
len(df5.location.unique())
# here, applying encoding is difficult...so decrease the number of unique values....

In [ ]:
location_stats_less_than_10=location_stats[location_stats<=10]
location_stats_less_than_10

In [ ]:
df5.location=df5.location.apply(lambda x:"other" if x in location_stats_less_than_10 else x)
df5.location

In [ ]:
len(df5.location.unique())
# compare it with the upper one...now we can apply encoding

In [ ]:
df5.head(5)

now you have to be very practical when u work in poject like this...........
....so here i am going to perform some operation to remove anomalies........

In [ ]:
df5[df5['total_sqft']/df5['BHK']<250]

In [ ]:
df5.shape

In [ ]:
# now this negation operation helps us to remove according to operation
df6=df5[~(df5['total_sqft']/df5['BHK']<250)]
df6.head()
# print(len(df6))

In [ ]:
df6.price_per_sqft.describe()

In [ ]:
# now i am gonna keep the data which is in the range ---> (mean-standar_deviation)<=data<=(mean+standar_deviation)
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df7 = remove_pps_outliers(df6)
df7.shape
# (mean-standar_deviation)<=data<=(mean+standard_deviation) this formula is purely

one more anomaly which we noticed is that..... 
for a given location a 2BHK flats price cant be more than or equal to a 3 BHK flat's price.
Now you can check this by using plt.scatter.....

In [ ]:
def plot_scatter_chart(df,location):
    bhk2 = df[(df.location==location) & (df.BHK==2)]
    bhk3 = df[(df.location==location) & (df.BHK==3)]
    matplotlib.rcParams['figure.figsize'] = (15,10)
    plt.scatter(bhk2.total_sqft,bhk2.price,color='blue',label='2 BHK', s=50)
    plt.scatter(bhk3.total_sqft,bhk3.price,marker='+', color='green',label='3 BHK', s=50)
    plt.xlabel("Total Square Feet Area")
    plt.ylabel("Price (Lakh Indian Rupees)")
    plt.title(location)
    plt.legend()
    
plot_scatter_chart(df7,"Hebbal")

Removing those anomaly...

In [ ]:
# df7.groupby('location').head()

In [ ]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('BHK'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('BHK'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df8 = remove_bhk_outliers(df7)
# df8 = df7.copy()
df8.shape

In [ ]:
plot_scatter_chart(df8,"Rajaji Nagar")

In [ ]:
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)
plt.hist(df8.price_per_sqft,rwidth=0.8)
plt.xlabel("Price Per Square Feet")
plt.ylabel("Count")

In [ ]:
df8.bath.unique()

In [ ]:
df8[df8.bath>=10]

In [ ]:
df8[df8.bath>df8.BHK+2]

so remove this anomaly...

In [ ]:
df9=df8[df8.bath<=df8.BHK+2]
len(df9)

In [ ]:
df9

now we will start to make our model......

In [ ]:
df10=df9.drop(['size','price_per_sqft'],axis='columns')
df10

In [ ]:
dummies=pd.get_dummies(df10.location)
dummies

In [ ]:
df11=pd.concat([df10,dummies.drop('other',axis='columns')],axis='columns')
df11.head()
# now i can reduce one column i.e "other"...if all the element in a row is zero...
# then it means that an element belongs to other column thats why we are dropping the "other" column.....

In [ ]:
df12=df11.drop(['location'],axis='columns')
df12.head()

In [ ]:
df12.shape

In [ ]:
X=df12.drop(['price'],axis='columns')
X.head()

In [ ]:
y=df12.price
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression
lr_clf=LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

In [ ]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

In [ ]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

In [ ]:
def find_best_model_using_gridsearchcv(X,y):
    algos={
        'linear_regression':{
            'model':LinearRegression(),
            'params':{
                'normalize':[True,False]
            }
        },
        'lasso':{
            'model':Lasso(),
            'params':{
                'alpha':[1,2],
                'selection':['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
        
    }
    
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
#   here algo_name will have 'linear_regression','lasso' etc....and "config" will have their configuration like "model","params"
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

In [ ]:
def predict_price(location,sqft,bath,bhk):    
    loc_index = np.where(X.columns==location)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]

In [ ]:
predict_price('1st Phase JP Nagar',1000, 2, 2)

In [ ]:
predict_price('Indira Nagar',1000, 2, 2)

In [ ]:
predict_price('Indira Nagar',1000, 3, 3)
# sometimes...in my given data we have found that...for a given location...3bhk flats price is less than
# 2 bhk...so its data's fault

In [ ]:
import pickle
with open('banglore_home_prices_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

now as my location is stored as columns...so i need a json file with all those columns in json format.....

In [ ]:
import json
columns={
    'data_columns':[col.lower() for col in X.columns]
    
}
with open("columns.json",'w') as f:
    f.write(json.dumps(columns))